<h1>About</h1>
<div class="hero-unit">
<p>
		My name is Peter Mozes Fedor. I am not a very technical man and this is my first attempt since a compulsory university class to make something on the interweb.
<p>
		I used Mattan Griffel's One Month Rails to create this app.
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
		is a project to teach 
		<%= link_to"Ruby on Rails", "http://rubyonrails.org" %>
		in one month. 
</p>
