<h1>Listing guestbook</h1>

<div id="comments">
<% @guestbooks.each do |guestbook| %>
  <div class="comment">
    <div class="name">
      <%= guestbook.name %>
    </div>
    <div>
      <%= guestbook.text %>
    </div>

  </div>
<% end %>
</div>

<br />

<%= link_to 'New Guestbook commment', new_guestbook_path %>
